$sun: rgb(252, 252, 79);
$tree: rgb(15, 163, 77);
$cake: rgb(253, 132, 207);
$flower: rgb(247, 92, 247);
$sky: rgb(116, 116, 241);
$death: rgb(0, 0, 0);
$peace: rgb(255, 255, 255);
$love: rgb(226, 39, 39);
$blood: rgb(112, 11, 11);
