nav {
  ul {
    display: flex;
    justify-content: space-evenly;
    background-color: $death;
    color: $peace;
    li {
      list-style-type: none;
      font-size: 18px;
      padding: 10px;
    }
  }
}
